#div1{
	
	background-color: black;	
	color:blue;
	padding: 10px;
	
	
	
}

#div2 {
	
	background-color: orange;
	color: red;
	padding: 15px;
	
}

#div3{
	
	background-color: #0080ff;
	color: yellow;
	padding: 20px;
	
}